@import "../../scss/Shared.scss";
@import "../../scss/Variables.scss";

.comment-poster.not-authenticated {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 7rem;
  min-height: 7rem;
  border-radius: 1rem;
  width: 100%;
  border: 1px dashed $light-color;

  margin: 1rem 0;

  p {
    font-weight: 300;
  }

  .link {
    text-decoration: none;
    color: $light-color;
    font-family: "Red Hat Display";
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.02em;
    transition: ease 0.15s filter;

    @include hover-supported() {
      filter: brightness(1.1);
    }
  }
}
