@import "../../scss/Shared.scss";
@import "../../scss/Variables.scss";

.mobile-menu-container.light {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $light-primary-bg;
  z-index: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      rgba($color: $light-primary-bg, $alpha: 0.999),
      rgba($color: $light-primary-bg, $alpha: 0.999)
    ),
    url("../../assets/img/canvas-orange.jpg") center / 25%;

  .close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4rem;
    right: 1rem;
    animation: close 0.5s ease forwards;
    cursor: pointer;

    svg {
      font-size: 4rem;

      &:active {
        animation: ease 0.25s click;
      }
    }
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: $light-primary-typo;

    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      letter-spacing: 0.2em;
    }

    svg {
      margin-right: 0.5rem;
      font-size: 3rem;
    }
  }

  .dropdown {
    width: 80%;
    padding: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: ease 0.5s height;
    box-sizing: content-box;
    font-size: 0.9rem;

    .menu-primary-enter {
      position: absolute;
      transform: translateX(-110%);
    }
    .menu-primary-enter-active {
      transform: translateX(0%);
      transition: all 0.5s ease;
    }
    .menu-primary-exit {
      position: absolute;
    }
    .menu-primary-exit-active {
      transform: translateX(-110%);
      transition: all 0.5s ease;
    }

    .menu-secondary-enter {
      transform: translateX(110%);
    }
    .menu-secondary-enter-active {
      transform: translateX(0%);
      transition: all 0.5s ease;
    }
    .menu-secondary-exit {
    }
    .menu-secondary-exit-active {
      transform: translateX(110%);
      transition: all 0.5s ease;
    }

    .menu {
      width: 100%;
      box-sizing: content-box;

      .menu-item {
        box-sizing: content-box;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5rem;
        border-radius: 0.4rem;
        transition: ease 0.25s all;
        margin: 0.2em auto;
        cursor: pointer;
        border: 1px solid #f3f3f3;
        text-decoration: none;
        color: $light-primary-typo;
        opacity: 0;
        font-size: 1.2rem;

        @include set-animation;

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-grow: 1;

          pointer-events: none;

          h1 {
            font-size: 1.3rem;
            color: $light-primary-typo;
            font-weight: 600;
            font-family: "Raleway", sans-serif;
            text-transform: capitalize;
          }

          p {
            text-transform: capitalize;
            color: $light-primary-typo;
            font-size: 0.9rem;
            opacity: 0.8;
            margin-right: 0.4rem;
          }
        }

        .icon-button {
          margin-right: 1rem;
          box-sizing: content-box;
          padding-bottom: 0rem;
        }

        .icon-right {
          margin-left: auto;
          margin-right: 0.5rem;
        }
      }

      &.sc,
      &.au {
        .menu-item:first-child {
          font-weight: 700;
          border-radius: 15px;
          margin-bottom: 0.7em;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          background-color: white;
        }
      }

      &.au {
        .menu-item:first-child {
          pointer-events: none;

          .icon-button {
            margin-right: 1rem;

            svg {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  footer {
    white-space: nowrap;
    position: absolute;
    bottom: 2vh;
    font-family: "Raleway", sans-serif;
    color: $light-primary-typo;

    span {
      letter-spacing: 0.1em;
      font-weight: 800;
    }
  }
}

.mobile-menu-container.dark {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $dark-primary-bg;
  z-index: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      rgba($color: $dark-primary-bg, $alpha: 0.999),
      rgba($color: $dark-primary-bg, $alpha: 0.999)
    ),
    url("../../assets/img/canvas-orange.jpg") center / 25%;

  .close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4rem;
    right: 1rem;
    animation: close 0.5s ease forwards;
    cursor: pointer;

    svg {
      font-size: 4rem;

      &:active {
        animation: ease 0.25s click;
      }
    }
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: $dark-primary-typo;

    h1 {
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      letter-spacing: 0.2em;
    }

    svg {
      margin-right: 0.5rem;
      font-size: 3rem;
    }
  }

  .dropdown {
    width: 80%;
    padding: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: ease 0.5s height;
    box-sizing: content-box;
    font-size: 0.9rem;

    .menu-primary-enter {
      position: absolute;
      transform: translateX(-110%);
    }
    .menu-primary-enter-active {
      transform: translateX(0%);
      transition: all 0.5s ease;
    }
    .menu-primary-exit {
      position: absolute;
    }
    .menu-primary-exit-active {
      transform: translateX(-110%);
      transition: all 0.5s ease;
    }

    .menu-secondary-enter {
      transform: translateX(110%);
    }
    .menu-secondary-enter-active {
      transform: translateX(0%);
      transition: all 0.5s ease;
    }
    .menu-secondary-exit {
    }
    .menu-secondary-exit-active {
      transform: translateX(110%);
      transition: all 0.5s ease;
    }

    .menu {
      width: 100%;
      box-sizing: content-box;

      .menu-item {
        box-sizing: content-box;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5rem;
        border-radius: 0.4rem;
        transition: ease 0.25s all;
        margin: 0.2em auto;
        cursor: pointer;
        border: 1px solid #303030;
        text-decoration: none;
        color: $dark-primary-typo;
        opacity: 0;
        font-size: 1.2rem;

        @include set-animation;

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-grow: 1;

          pointer-events: none;

          h1 {
            font-size: 1.3rem;
            color: $dark-primary-typo;
            font-weight: 600;
            font-family: "Raleway", sans-serif;
            text-transform: capitalize;
          }

          p {
            text-transform: capitalize;
            color: $dark-primary-typo;
            font-size: 0.9rem;
            opacity: 0.8;
            margin-right: 0.4rem;
          }
        }

        .icon-button {
          margin-right: 1.5rem;
          margin-left: 0.5rem;
          box-sizing: content-box;
          padding-bottom: 0rem;
        }

        .icon-right {
          margin-left: auto;
          margin-right: 0.5rem;
        }
      }

      &.sc,
      &.au {
        .menu-item:first-child {
          font-weight: 700;
          border-radius: 15px;
          margin-bottom: 0.7em;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          background-color: $dark-secondary-bg;
        }
      }

      &.au {
        .menu-item:first-child {
          pointer-events: none;

          .icon-button {
            margin-right: 1rem;

            svg {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  footer {
    white-space: nowrap;
    position: absolute;
    bottom: 2vh;
    font-family: "Raleway", sans-serif;
    color: $dark-primary-typo;

    span {
      letter-spacing: 0.1em;
      font-weight: 800;
    }
  }
}

@keyframes close {
  from {
    top: -4rem;
  }
  to {
    top: 0.4rem;
  }
}
