@import "../../scss/Variables.scss";
@import "../../scss/Shared.scss";

.top-card {
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.light {
    background-color: white;
  }

  &.dark {
    background-color: $dark-secondary-bg;
  }

  .top {
    width: 100%;
    height: 80%;
    display: flex;
    padding: 0.7rem 0.7rem 0 0.7rem;

    .cover {
      height: 100%;
      min-height: 6rem;
      min-width: 6rem;
      border-radius: 0.7rem;
    }

    .info {
      width: 75%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0.7rem;
      flex-shrink: 0;

      h3 {
        font-family: "PlayFair Display", serif;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.2rem;
        padding-right: 1rem;
      }

      p {
        margin-top: 0.5rem;
        opacity: 0.9;
        @include paragraphSettings;
        font-size: 0.8rem;
        line-height: 1.4rem;
        padding-right: 0.7rem;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 2.8rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 0.7rem;
    padding-bottom: 0.3rem;

    .statistics {
      display: flex;
      align-items: center;

      .statistic {
        display: flex;
        align-items: center;
        margin-left: 0.4rem;

        p {
          font-family: "Red Hat Display", sans-serif;
          font-weight: 500;
          font-size: 0.9rem;

          span {
            font-weight: 400;
            padding-left: 0.2rem;
            opacity: 0.8;
          }
        }
      }

      & > svg {
        font-size: 0.5rem;
        margin: 0 0.3rem;
        color: $light-color;
      }

      .author {
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        font-size: 0.9rem;
        opacity: 0.9;
      }
    }

    .bookmark {
      cursor: pointer;
    }
  }
}
