@mixin hover-supported() {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin clamp($line-count, $line-height) {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: $line-height * $line-count;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  line-height: $line-height;
}

@mixin paragraphSettings {
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}

@mixin set-animation {
  @for $i from 1 through 15 {
    &:nth-child(#{$i}) {
      animation: ease 0.15s fade-in-2 forwards #{$i * 0.05}s;
    }
  }
}

@mixin set-lang-content {
  &.language-plaintext {
    &::after {
      content: "Düz Metin";
    }
  }
  &.language-javascript {
    &::after {
      content: "JavaScript";
    }
  }
  &.language-c {
    &::after {
      content: "C";
    }
  }
  &.language-cs {
    &::after {
      content: "C#";
    }
  }
  &.language-cpp {
    &::after {
      content: "C++";
    }
  }
  &.language-css {
    &::after {
      content: "CSS";
    }
  }
  &.language-diff {
    &::after {
      content: "Diff";
    }
  }
  &.language-html {
    &::after {
      content: "HTML";
    }
  }
  &.language-java {
    &::after {
      content: "Java";
    }
  }
  &.language-php {
    &::after {
      content: "PHP";
    }
  }
  &.language-python {
    &::after {
      content: "Python";
    }
  }
  &.language-ruby {
    &::after {
      content: "Ruby";
    }
  }
  &.language-typescript {
    &::after {
      content: "TypeScript";
    }
  }
  &.language-xml {
    &::after {
      content: "XML";
    }
  }
}
