// Light Theme

$light-primary-bg: #f9f9f9;
$light-primary-typo: #252525;
$light-secondary-typo: #353535;
$light-footer-bg: #000000;
$light-color: #ff9900;

// Dark Theme

$dark-primary-bg: #2c2c2c;
$dark-primary-typo: #f5f5f5;
$dark-secondary-bg: #1f1f1f; //353535
$dark-footer-bg: #fff;

// Common

$error-color: rgb(145, 0, 0);
$dark-error-color: rgb(209, 0, 0);
$success-color: rgb(0, 173, 0);
$warning-color: rgb(255, 145, 0);
